<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>fced</title>

<link rel="stylesheet" href="{% static "css/ace.min.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-iso.css" %}">
<link rel="stylesheet" href="{% static "css/style.css" %}">
<link rel="stylesheet" href="{% static "css/prettify.css" %}">
</head>
<body>
<nav>
  <div class="container">
    <h1>FCED</h1>
    <div id="menu">
      <ul class="toplinks">
        <li><a href="/overview/index">首页</a></li>
        <li><a href="/overview/download">下载</a></li>
        <li><a href="/overview/contact">联系</a></li>
      </ul>
    </div>
    <a id="menu-toggle" href="#" class=" ">&#9776;</a> </div>
</nav>
<header>
  <div class="container">
    <h2 class="docs-header"> FCE - Download Documentation</h2>
  </div>
</header>
<section>
  <div class="container">
    <h4>版本v6000100</h4>
    <hr>
    <p style="font-size:14px">
    特性：
        <ul>
            <li style="font-size:14px">支持单机上行能力小于10Gbps设备</li>
            <li style="font-size:14px">支持登录鉴权</li>
        </ul>
    </p>
    <p style="font-size:14px">
        <table class="table table-bordered table-hover" border=1 cellspacing="0">
          <tbody>
            <tr>
              <td width="200px" class="center" style="font-size:14px">arm32-ubuntu</td>
              <td width="700px" class="center" style="font-size:14px">32-bit Armv7 Cortex-A, hard-float, little-endian/ubuntu 18.10</td>
              <td width="100px" class="center" style="font-size:14px"><a href="">Download</a></td>
              <td width="100px" class="center" style="font-size:14px"></td>
            </tr>
            <tr>
              <td width="200px" class="center" style="font-size:14px">arm64-ubuntu</td>
              <td width="700px" class="center" style="font-size:14px">64-bit Armv8 Cortex-A, little-endian/ubuntu 18.10</td>
              <td width="100px" class="center" style="font-size:14px"><a href="">Download</a></td>
              <td width="100px" class="center" style="font-size:14px"></td>
            </tr>
            <tr>
              <td width="200px" class="center" style="font-size:14px">x86-centos</td>
              <td width="700px" class="center" style="font-size:14px">32-bit i386, little-endian/centos 7</td>
              <td width="100px" class="center" style="font-size:14px"><a href="">Download</a></td>
              <td width="100px" class="center" style="font-size:14px"></td>
            </tr>
            <tr>
              <td width="200px" class="center" style="font-size:14px">x86_64-centos</td>
              <td width="700px" class="center" style="font-size:14px">64-bit amd64, little-endian/centos 7</td>
              <td width="100px" class="center" style="font-size:14px"><a href="http://101.89.28.90:9080/lego_server-x86_64-centos-6000100.tgz">Download</a></td>
              <td width="100px" class="center" style="font-size:14px">md5:626eb8fba348808c0dc39ffa4acf2536</td>
            </tr>
          </tbody>
        </table>
    </p>
  </div>
</section>

<footer>
      <p> &copy; Copyright (c) 2019 FCED, Inc. All Rights Reserved.  </p>
</footer>
<script src="{% static "js/jquery.min.js" %}" type="text/javascript"></script> 
<script src="{% static "js/prettify/prettify.js" %}" type="text/javascript"></script> 
<script src="{% static "js/layout.js" %}" type="text/javascript"></script>
<script src="{% static "js/jquery.localscroll-1.2.7.js" %}" type="text/javascript"></script>
<script src="{% static "js/jquery.scrollTo-1.4.3.1.js" %}" type="text/javascript"></script>
<script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/ace.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/user/index.js" %}"  type="text/javascript"></script>
</body>
</html>
